@{
    ViewBag.Title = "Chính sách quyền riêng tư";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1 class="news-title">Chính sách bảo mật</h1>
<div class="news-d-content">
    <p>
        2BS cam kết sẽ bảo mật những thông tin mang tính chất riêng tư của quý khách. Quý khách vui lòng đọc “Chính sách bảo mật” dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập:<br>
        &nbsp;<br>
        <strong>Thu thập thông tin cá nhân:</strong><br>
        <br>
        – Các thông tin thu thập thông qua cổng thông tin 2BS sẽ giúp chúng tôi:<br>
        <br>
        • Hỗ trợ quý khách trong quá trình sử dụng<br>
        • Giải đáp thắc mắc<br>
        • Cung cấp cho quý khách thông tin mới nhất trên Website của chúng tôi<br>
        • Xem xét và nâng cấp nội dung và giao diện của Website<br>
        • Thực hiện các hoạt động quảng bá liên quan đến các sản phẩm và dịch vụ của 2BS.<br>
        <br>
        – Để truy cập và sử dụng một số dịch vụ tại 2BS, quý khách có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc, địa chỉ). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. 2BS không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo.<br>
        <br>
        – Chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm, bao gồm số trang quý khách xem, số links (liên kết) được click và những thông tin khác liên quan đến việc kết nối đến 2BS. Chúng tôi cũng thu thập các thông tin mà trình duyệt Web (Browser) quý khách sử dụng mỗi khi truy cập vào website 2BS, bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.
    </p>

    <p>
        <br>
        <strong>Sử dụng thông tin cá nhân:</strong><br>
        <br>
        – 2BS thu thập và sử dụng thông tin cá nhân quý khách với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.<br>
        <br>
        – Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với quý khách dưới các hình thức như: gởi thư ngỏ, thư cảm ơn, thông tin về kỹ thuật và bảo mật, quý khách có thể nhận được thư định kỳ cung cấp thông tin sản phẩm, dịch vụ mới, thông tin về các sự kiện sắp tới hoặc thông tin tuyển dụng nếu quý khách đăng kí nhận email thông báo.
    </p>

    <p>
        <strong>Chia sẻ thông tin cá nhân:</strong><br>
        <br>
        2BS&nbsp;biết rằng thông tin về quý khách là một phần rất quan trọng trong việc kinh doanh và chúng sẽ không được bán, trao đổi cho một bên thứ ba nào khác. Chúng tôi sẽ không chia sẻ thông tin quý khách trừ những trường hợp cụ thể sau đây:<br>
        <br>
        – Để bảo vệ&nbsp;2BS và các bên thứ ba khác: Chúng tôi chỉ đưa ra thông tin tài khoản và những thông tin cá nhân khác khi tin chắc rằng việc đưa những thông tin đó là phù hợp với luật pháp, bảo vệ quyền lợi, tài sản của người sử dụng dịch vụ của&nbsp;2BS và các bên thứ ba khác.<br>
        <br>
        – Theo yêu cầu pháp l‎ý từ một cơ quan chính phủ hoặc khi chúng tôi tin rằng việc làm đó là cần thiết và phù hợp nhằm tuân theo các yêu cầu pháp l‎ý<br>
        <br>
        – Trong những trường hợp còn lại, chúng tôi sẽ có thông báo cụ thể cho Quý Khách khi phải tiết lộ thông tin cho một bên thứ ba và thông tin này chỉ được cung cấp khi được sự phản hồi đồng ‎ý‎ từ phía Quý Khách. VD: các chương trình khuyến mãi có sự hợp tác, tài trợ với các đối tác của 2BS, cung cấp các thông tin giao nhận cần thiết cho các đơn vị vận chuyển<br>
        <br>
        Nó chắc chắn không bao gồm việc bán, chia sẻ dẫn đến việc làm lộ thông tin cá nhân của quý khách vì mục đích thương mại vi phạm những cam kết được đặt ra trong quy định Chính sách bảo mật thông tin của 2BS
    </p>

    <p>
        <br>
        <strong>Truy xuất thông tin cá nhân:</strong><br>
        <br>
        – Bất cứ thời điểm nào quý khách cũng có thể truy cập và chỉnh sửa những thông tin cá nhân của mình theo các liên kết (website’s links) thích hợp mà chúng tôi cung cấp.
    </p>

    <p>
        <strong>Bảo mật thông tin cá nhân:</strong><br>
        <br>
        Một điều quan trọng đối với quý khách là việc tự bảo vệ bản thân trước sự tiếp cận thông tin về mật khẩu khi quý khách dùng chung máy tính với nhiều người. Khi đó, quý khách phải chắc chắn đã đăng xuất tài khoản sau khi sử dụng dịch vụ của chúng tôi.<br>
        <br>
        Chúng tôi cũng cam kết không cố ‎‎ý tiết lộ thông tin khách, không bán hoặc chia sẻ thông tin tại 2BS vì mục đích thương mại, vi phạm những cam kết giữa chúng tôi với Qu‎ý khách chiếu theo Chính sách bảo mật thông tin khách của 2BS
    </p>

    <p>
        <strong>Thời gian lưu trữ thông tin :</strong><br>
        <br>
        Chúng tôi có thể lưu trữ bất kỳ thông tin nào quý khách nhập trên website hoặc gửi đến 2BS. Những thông tin đó sẽ được sử dụng cho mục đích phản hồi yêu cầu của quý khách, đưa ra những gợi ý‎ phù hợp cho từng khách khi truy cập cổng thông tin 2BS.<br>
        <br>
        Ngoài ra, các thông tin giao dịch gồm: lịch sử mua hàng, giá trị giao dịch, phương thức vận chuyển và thanh toán cũng được&nbsp;2BS lưu trữ nhằm giải quyết những vấn đề có thể phát sinh về sau.
    </p>

    <p>
        <strong>Quy định về “Spam”:</strong><br>
        <br>
        –&nbsp;2BS thực sự quan ngại đến vấn nạn Spam (thư rác), các Email giả mạo danh tín chúng tôi gởi đi. Do đó,&nbsp;2BS khẳng định chỉ gởi Email đến quý khách khi và chỉ khi quý khách có đăng ký hoặc sử dụng dịch vụ từ hệ thống của chúng tôi.<br>
        <br>
        –&nbsp;2BS cam kết không bán, thuê lại hoặc cho thuê email của quý khách từ bên thứ ba. Nếu quý khách vô tình nhận được Email không theo yêu cầu từ hệ thống chúng tôi do một nguyên nhân ngoài ý muốn, xin vui lòng nhấn vào link từ chối nhận Email này kèm theo, hoặc thông báo trực tiếp đến ban quản trị Website.
    </p>

    <p>
        <strong>Thay đổi về chính sách bảo mật:</strong><br>
        <br>
        – Chúng tôi hoàn toàn có thể thay đổi nội dung trong trang này mà không cần phải thông báo trước, để phù hợp với các nhu cầu của 2BS cũng như nhu cầu và sự phản hồi từ quý khách nếu có. Khi cập nhật nội dung chính sách này, chúng tôi sẽ chỉnh sửa lại thời gian “Cập nhật lần cuối” bên dưới.<br>
        <br>
        – Nội dung “Chính sách bảo mật” này chỉ áp dụng tại 2BS, không bao gồm hoặc liên quan đến các bên thứ ba đặt quảng cáo hay có links tại 2BS. Chúng tôi khuyến khích quý khách đọc kỹ chính sách An toàn và Bảo mật của các trang web của bên thứ ba trước khi cung cấp thông tin cá nhân cho các trang web đó. Chúng tôi không chịu trách nhiệm dưới bất kỳ hình thức nào về nội dung và tính pháp lý của trang web thuộc bên thứ ba.<br>
        <br>
        – Vì vậy, quý khách đã đồng ý rằng, khi sử dụng website của chúng tôi sau khi chính sách được chỉnh sửa nghĩa là bạn đã thừa nhận, đồng ý tuân thủ cũng như tin tưởng vào sự chỉnh sửa này. Do đó, chúng tôi đề nghị quý khách nên xem trước nội dung trang này trước khi truy cập các nội dung khác trên website cũng như nên đọc và tham khảo kỹ nội dung “Chính sách bảo mật” của từng website mà quý khách đang truy cập.<br>
        10. Thông tin liên hệ:<br>
        <br>
        – Chúng tôi luôn hoan nghênh các ý kiến đóng góp, liên hệ và phản hồi thông tin từ quý khách về “Chính sách bảo mật” này. Nếu quý khách có những thắc mắc liên quan xin vui lòng liên hệ theo địa chỉ Email: cskh@2BS
    </p>
</div>