@{
    ViewBag.Title = "Điều khoản sử dụng";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<h1 class="news-title">Điều khoản sử dụng</h1>
<div class="news-d-short"></div>
<div class="news-d-content">
    <p>
        Dưới đây là các quy định trong điều khoản dịch vụ của 2BS nhằm hướng tới một môi trường hoạt động lành mạnh, an toàn và thân thiện.<br>
        <br>
        <strong>Giới thiệu</strong><br>
        <br>
        Chào mừng quý khách hàng đến với 2BS.<br>
        Khi quý khách hàng truy cập vào trang website của chúng tôi có nghĩa là quý khách đồng ý với các điều khoản này. Trang web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Điều khoản mua bán hàng hóa này, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang web mà không cần thông báo trước. Và khi quý khách tiếp tục sử dụng trang web, sau khi các thay đổi về Điều khoản này được đăng tải, có nghĩa là quý khách chấp nhận với những thay đổi đó.<br>
        <br>
        Quý khách hàng vui lòng kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi.<br>
        <br>
        <strong>Ý kiến của quý vị</strong><br>
        <br>
        Tất cả nội dung trang web và ý kiến phê bình của quý khách đều là tài sản của chúng tôi. Nếu chúng tôi phát hiện bất kỳ thông tin giả mạo nào, chúng tôi sẽ khóa tài khoản của quý khách ngay lập tức hoặc áp dụng các biện pháp khác theo quy định của pháp luật Việt Nam.<br>
        <br>
        <strong>Giải quyết hậu quả do lỗi nhập sai thông tin tại 2BS</strong><br>
        <br>
        Quý vị có trách nhiệm cung cấp thông tin đầy đủ và chính xác khi tham gia giao dịch tại 2BS. Trong trường hợp nhập sai thông tin và gửi vào cổng thông tin 2BS, 2BS có quyền từ chối.<br>
        <strong>Thương hiệu và bản quyền</strong><br>
        <br>
        Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, phần mềm, hình ảnh, video, âm nhạc, âm thanh, biên dịch phần mềm, mã nguồn và phần mềm cơ bản đều là tài sản của chúng tôi. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế. Bản quyền đã được bảo lưu.<br>
        <br>
        <strong>Quyền pháp lý</strong><br>
        <br>
        Các điều kiện, điều khoản và nội dung của trang web này được điều chỉnh bởi luật pháp Việt Nam và Tòa án có thẩm quyền tại Việt Nam sẽ giải quyết bất kỳ tranh chấp nào phát sinh từ việc sử dụng trái phép trang web này.<br>
        <br>
        <strong>Quy định về bảo mật</strong><br>
        <br>
        Trang web của chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất bảo vệ thông tin và việc thanh toán của quý khách. Thông tin của quý khách trong quá trình thanh toán sẽ được mã hóa để đảm bảo an toàn.<br>
        <br>
        Quý khách không được sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu. Trang web cũng nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống. Cá nhân hay tổ chức vi phạm sẽ bị tước bỏ mọi quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết.<br>
        <br>
        Mọi thông tin giao dịch sẽ được bảo mật ngoại trừ trong trường hợp cơ quan pháp luật yêu cầu.<br>
        <br>
        <strong>Luật pháp và thẩm quyền tại Lãnh thổ Việt Nam</strong>
        <br>
        Tất cả các Điều Khoản và Điều Kiện này và Hợp Đồng (và tất cả nghĩa vụ phát sinh ngoài hợp đồng hoặc có liên quan) sẽ bị chi phối và được hiểu theo luật pháp của Việt Nam. Nếu có tranh chấp phát sinh bởi các Quy định Sử dụng này, quý khách có quyền gửi khiếu nại/khiếu kiện lên Tòa án có thẩm quyền tại Việt Nam để giải quyết.
    </p>
</div>