
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutFontend.cshtml";
}
<style>
    .form-group{
        width:100%;
    }
    .form-control{
        border-color:black;
    }
</style>
<section class="content" style="font-size:18px">
    <div class="container">
        <div style="text-align:left" class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
            <!-- Thông tin đăng kýt tuyển sinh-->
            <div class="box box-default box-solid">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Đổi mật khẩu</h4>
                    </div>
                    <div class="modal-body">
                        <div class="x_content" style="display: grid">
                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="OldPassword">
                                        Mật khẩu cũ <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" id="OldPassword" name="OldPassword" required="required" class="form-control col-md-12 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="NewPassword">
                                        Mật khẩu mới <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" id="NewPassword" name="NewPassword" required="required" class="form-control col-md-12 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="NewPassword2">
                                        Nhập lại mật khẩu <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" id="NewPassword2" name="NewPassword2" required="required" class="form-control col-md-12 col-xs-12">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer" style="text-align:center">
                            <button type="button" id="btnSua" class="btn btn-success" data-dismiss="modal">Đổi mật khẩu</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div id="divProcessing" style="position:fixed;top:0px; left:0px; height:100%;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: absolute;top: 50%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>
<script>
    $('#btnSua').click(function () {
        var OldPassword = $('#OldPassword').val();
        var NewPassword = $('#NewPassword').val();
        var NewPassword2 = $('#NewPassword2').val();

        if (OldPassword == "") {
            toastr.error('Mật khẩu cũ không được để trống');
            return false;
        }
        if (NewPassword == "") {
            toastr.error('Mật khẩu mới không được để trống');
            return false;
        }
        if (NewPassword2 == "") {
            toastr.error('Phải nhập lại mật khẩu');
            return false;
        }
        if (OldPassword == NewPassword) {
            toastr.error('Mật khẩu mới không được giống mật khẩu cũ');
            return false;
        }
        if (NewPassword != NewPassword2) {
            toastr.error('Nhập lại mật khẩu không khớp');
            return false;
        }

        $("#divProcessing").show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("UpdatePassword", "Account")',
            data: { OldPassword: OldPassword, NewPassword: NewPassword, NewPassword2: NewPassword2},
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                $("#divProcessing").hide();
                if (data == 'OK') {
                    toastr.success('Đổi mật khẩu thành công!')
                    setTimeout(function () { location.reload(); }, 2000);
                } else {
                    toastr.error(data);
                }
            },
            error: function (req, status, error) {
                $("#divProcessing").hide();
            }
        });
    })
</script>
