.test-notification-overlay-classname
  > .ant-popover-content
  > .ant-popover-arrow {
  right: 7px !important;
}

/*###*/
.popupSubMenuInline,
.popupSubMenuInline ul.ant-menu-sub {
  background: #096dd9 !important;
}

.isomorphicTopbar
  .ant-menu-dark.ant-menu-horizontal
  > .ant-menu-submenu.ant-menu-submenu-selected {
  background-color: #1890ff;
}

.class-pull-left {
  float: left;
}

.ant-form-item-required::before {
  display: none !important;
}

.ant-form-item-required::after {
  display: inline-block !important;
  content: "*" !important;
  line-height: 1 !important;
  font-size: 14px !important;
  color: #f5222d !important;
}

.ant-form-item .ant-form-item-label > label::after {
  content: "";
}

.ant-form .ant-form-item-label label {
  pointer-events: none !important;
}

.ant-form .ant-form-item {
  margin-bottom: 15px !important;
}

.ant-modal-title {
  font-size: 18px !important;
}

.ant-modal-confirm .ant-modal-content {
  width: 460px !important;
}

/* disable */
.dbpAWL.ant-btn.ant-btn.disabled,
.dbpAWL.ant-btn.ant-btn[disabled],
.dbpAWL.ant-btn.ant-btn.disabled:hover,
.dbpAWL.ant-btn.ant-btn[disabled]:hover,
.dbpAWL.ant-btn.ant-btn.disabled:focus,
.dbpAWL.ant-btn.ant-btn[disabled]:focus,
.dbpAWL.ant-btn.ant-btn.disabled:active,
.dbpAWL.ant-btn.ant-btn[disabled]:active,
.dbpAWL.ant-btn.ant-btn.disabled.active,
.dbpAWL.ant-btn.ant-btn[disabled].active,
.ant-radio-disabled,
.ant-radio-wrapper-disabled,
.ant-radio-disabled .ant-radio-inner,
.ant-radio-disabled .ant-radio-input,
.ant-radio-disabled + span,
.ant-select-disabled .ant-select-selection,
li.ant-select-tree-treenode-disabled > span:not(.ant-select-tree-switcher),
li.ant-select-tree-treenode-disabled > .ant-select-tree-node-content-wrapper,
li.ant-select-tree-treenode-disabled
  > .ant-select-tree-node-content-wrapper
  span,
.ant-select-dropdown-menu-item-disabled:hover,
.ant-select-dropdown-menu-item-disabled,
.ant-switch-loading,
.ant-switch-disabled,
.ant-switch-loading::before,
.ant-switch-disabled::before,
.ant-switch-loading::after,
.ant-switch-disabled::after {
  cursor: default !important;
}

/* tree */
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background: none !important;
}

.ant-tree li {
  padding: 0 !important;
}

.ant-tree li .ant-tree-node-content-wrapper {
  color: #333333 !important;
  height: 25px !important;
  padding: 2px 5px !important;
}

.ant-tree li .ant-tree-node-content-wrapper:hover {
  background-color: lightblue !important;
  color: darkslategrey !important;
}

.ant-tree-title .ant-dropdown-trigger {
  display: inline-block !important;
  height: 100%;
  width: 100%;
}

/* download tooltip */
.download-tooltip .ant-tooltip-inner,
.download-tooltip .ant-tooltip-arrow::before {
  background-color: #fff !important;
}

.download-tooltip-file:hover {
  text-decoration: underline !important;
}

.download-tooltip-file {
  color: #1890ff !important;
  cursor: pointer !important;
}

/* chart */
.div-combo-chart .isoExampleWrapper {
  margin-top: 0 !important;
}

/* scroll-select-selection--multiple */
.scroll-select-selection--multiple .ant-select-selection--multiple {
  max-height: 60px !important;
  overflow: auto;
}

/* huong dan */
@media screen and (max-width: 1600px) {
  .guideDrawer .ant-drawer-content-wrapper {
    width: 70% !important;
  }
}

@media screen and (max-width: 1200px) {
  .guideDrawer .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}

/* .ant-table-row-cell-break-word */
.ant-table-row-cell-break-word {
  word-break: normal !important;
}

/* new layout scroll scroll scroll */
.isoLayoutContentWrapper {
  margin-top: 0 !important;
  padding: 0 !important;
  overflow: overlay !important;
}

.LayoutContentScroll {
  min-width: 1200px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  height: calc(100vh - 57px); /*100vh - 45topBar - 6margin -6padding*/
}

.ant-table-body {
  overflow-y: scroll !important;
}

.ant-table-header {
  overflow-y: hidden !important;
  width: calc(100% - 8px) !important;
}
.ant-table-fixed-left .ant-table-header {
  width: calc(100%) !important;
}

@-moz-document url-prefix() {
  .isoLayoutContentWrapper {
    overflow: auto !important;
  }
}

/*--------------------------------------------------- scroll*/
div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
div::-webkit-scrollbar-track {
  /*background: #dadbe2;*/
  border-radius: 10px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: #bfc4cd;
  border-radius: 10px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  /*background: #555;*/
}

.ant-form-item-label {
  white-space: normal !important;
}
.pointer {
  cursor: pointer;
}

.not-allow {
  cursor: not-allowed !important;
}

.go-select-invalid div {
  border-color: #f5222d;
}
.ant-input-number {
  width: 100% !important;
}

.withInputToText:hover {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
.withInputToText {
  border: 1px solid transparent;
}
.text-area-border {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.table-modal {
  width: 100%;
  border-collapse: collapse;
}

.table-modal td {
  border: solid 1px #e9e9e9;
  padding: 5px;
}

.table-modal th {
  border: solid 1px #e9e9e9;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.ant-select-selection-selected-value > span {
  transform: translateY(0) !important;
}

.no-border {
  border: none !important;
}

.hover-input:not(.ant-input-disabled):hover {
  border: solid 1px #1890ff !important;
}

.customTreeSelect .ant-select-tree-treenode-switcher-open {
  margin: 0;
}

.custom-collapse .ant-collapse-header {
  background-color: rgba(55, 121, 249, 1);
  color: white !important;
  font-weight: bold;
}

.ant-tree-child-tree {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width: 95%; */
}
/* CUSTOM STYLE ANT FOR DISABLE EDIT */
.text-to-input-blur .ant-select-disabled .ant-select-selection {
  border: 1px solid transparent !important;
  background-color: white;
}
.text-to-input-blur
  .ant-select-disabled
  .ant-select-selection
  .ant-select-selection-selected-value {
  color: rgba(0, 0, 0, 0.65);
}
.text-to-input-blur:hover .ant-select-disabled .ant-select-selection {
  border: 1px solid transparent !important;
}

.text-to-input-blur .ant-input.ant-input-disabled {
  border: 1px solid transparent !important;
  background-color: white;
  color: rgba(0, 0, 0, 0.65) !important;
}
.text-to-input-blur:hover .ant-input.ant-input-disabled {
  border: 1px solid transparent;
}

.text-to-input-blur .ant-input-number.ant-input-number-disabled {
  border: 1px solid transparent !important;
  background-color: white;
  color: rgba(0, 0, 0, 0.65) !important;
}
.text-to-input-blur:hover .ant-input-number.ant-input-number-disabled {
  border: 1px solid transparent !important;
}

/* END CUSTOM STYLE ANT FOR DISABLE EDIT */

.text-to-input-focus .ant-select-selection {
  border: 1px solid #d9d9d9;
}
.text-to-input-blur .ant-select-selection {
  border: 1px solid transparent;
}

.text-to-input-blur:hover .ant-select-selection {
  border: 1px solid #d9d9d9;
}

.text-to-input-focus .ant-select .ant-select-selection {
  border: 1px solid #d9d9d9;
}
.text-to-input-blur .ant-select .ant-select-selection {
  border: 1px solid transparent;
}
.text-to-input-blur:hover .ant-select .ant-select-selection {
  border: 1px solid #d9d9d9;
}

.text-to-input-focus .ant-input {
  border: 1px solid #d9d9d9;
}
.text-to-input-blur .ant-input {
  border: 1px solid transparent;
}
.text-to-input-blur:hover .ant-input {
  border: 1px solid #d9d9d9;
}

.text-to-input-focus .ant-input-number {
  border: 1px solid #d9d9d9;
}
.text-to-input-blur .ant-input-number {
  border: 1px solid transparent;
}
.text-to-input-blur:hover .ant-input-number {
  border: 1px solid #d9d9d9;
}

.text-to-input-blur .d-inline-block {
  color: rgba(0, 0, 0, 0.65);
}

.text-to-input-focus .ant-select-selection {
  border: 1px solid #d9d9d9;
}
.text-to-input-blur .ant-select-selection {
  border: 1px solid transparent;
}

.text-to-input-blur:hover .ant-select-selection {
  border: 1px solid #d9d9d9;
}

.text-to-input-focus .ant-select .ant-select-selection {
  border: 1px solid #d9d9d9;
}
.text-to-input-blur .ant-select .ant-select-selection {
  border: 1px solid transparent;
}
.text-to-input-blur:hover .ant-select .ant-select-selection {
  border: 1px solid #d9d9d9;
}

.text-to-input-focus .ant-input {
  border: 1px solid #d9d9d9;
}
.text-to-input-blur .ant-input {
  border: 1px solid transparent;
}
.text-to-input-blur:hover .ant-input {
  border: 1px solid #d9d9d9;
}

.text-to-input-focus .ant-input-number {
  border: 1px solid #d9d9d9;
}
.text-to-input-blur .ant-input-number {
  border: 1px solid transparent;
}
.text-to-input-blur:hover .ant-input-number {
  border: 1px solid #d9d9d9;
}

.text-to-input-blur .d-inline-block {
  color: rgba(0, 0, 0, 0.65) !important;
}

.text-to-input-focus .ant-picker {
  border: 1px solid #d9d9d9;
}
.text-to-input-blur .ant-picker {
  border: 1px solid transparent;
}
.text-to-input-blur:hover .ant-picker {
  border: 1px solid #d9d9d9;
}

.text-to-input-blur .ant-picker.ant-picker-disabled {
  border: 1px solid transparent !important;
  background-color: white;
  color: rgba(0, 0, 0, 0.65) !important;
}
.text-to-input-blur .ant-picker-input > input {
  color: rgba(0, 0, 0, 0.65) !important;
}
@media (max-width: 1024px) {
  /* CSS */
  .test .ant-modal-content {
    width: 100% !important;
  }
}
@media (min-width: 1025px) {
  /* CSS */
  .test .ant-modal-content {
    width: 960px !important;
  }
}

.file-upload-item > .delete-icon {
  visibility: hidden;
}
.file-upload-item:hover {
  background-color: #e6f7ff;
}
.file-upload-item:hover > .delete-icon {
  visibility: visible;
}

.ant-custom-arrow {
  font-size: 14px !important;
  line-height: 1.5 !important;
  color: #1890ff !important;
}
.slick-dots .slick-active button {
  background: #1890ff !important;
}
.slick-dots li button {
  background: #1890ff !important;
}

.out-date > * {
  color: #f5222d !important;
}
