USE [master]
GO
/****** Object:  Database [QLSDH]    Script Date: 05/10/2020 9:42:17 SA ******/
CREATE DATABASE [QLSDH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSDH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLSDH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSDH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\QLSDH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSDH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSDH]
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongTinKHoaHocGiaVien]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_ThongTinKHoaHocGiaVien]
@magiaovien nvarchar(50)
as
begin
select QuanLyBoiDuong.MaModule
	  ,HoVaTen
      ,[TenModule]
      ,[MaDot]
      ,[ThoiLuong]
      ,[SoNgayTT]
      ,[SoNgayOnline]
      ,[SoGioThucHanh]
	  ,[MaBoiDuong]
      ,[KetQuaTienTrinh]
      ,[KetQuaCuoiKhoa]
      ,[KetQuaChung]
      ,[NgayBatDau]
      ,[NgayKetThuc]
      ,[TienDoHocTap]
      ,[TrangThai]
      ,[TenChuongTrinh]
	   from HoSoGVs inner join QuanLyBoiDuong on HoSoGVs.MaGiaoVien = QuanLyBoiDuong.MaGiaoVien
					  inner join Module_BD on Module_BD.MaModule = QuanLyBoiDuong.MaModule
					  inner join ChuongTrinhBoiDuong on ChuongTrinhBoiDuong.MaChuongTrinh = Module_BD.MaChuongTrinh
					  where HoSoGVs.MaGiaoVien = @magiaovien
					  order by QuanLyBoiDuong.NgayBatDau desc
end



GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[GV_Id] [bigint] NULL,
	[PrivateKey] [nvarchar](16) NULL,
	[GiangVien_Id] [bigint] NULL,
	[HocVien_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChucDanh]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucDanh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenChucDanh] [nvarchar](150) NULL,
 CONSTRAINT [PK_ChucDanh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuongTrinhDaoTao]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuongTrinhDaoTao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NghanhHoc] [nvarchar](150) NULL,
	[TenVietTat] [nvarchar](50) NULL,
	[ThuocNhomNghanh] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChuyenNganh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMucTinTuc]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucTinTuc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_DanhMucTinTuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diem]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[Id] [bigint] NOT NULL,
	[HocVienId] [bigint] NULL,
	[MaHocVien] [nvarchar](20) NULL,
	[TenHocVien] [nvarchar](50) NULL,
	[HocPhanId] [bigint] NULL,
	[SoDiem] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](50) NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiemTuyenSinh]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemTuyenSinh](
	[Id] [bigint] NOT NULL,
	[SoBaoDanh] [nvarchar](20) NULL,
	[MaPhong] [nvarchar](20) NULL,
	[ThiSinhId] [bigint] NULL,
	[Diem] [int] NULL,
	[NguoiTao] [nvarchar](50) NULL,
 CONSTRAINT [PK_DiemTuyenSinh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[Id] [bigint] NOT NULL,
	[ApplicationUserId] [nvarchar](128) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NoiSinh] [nvarchar](250) NULL,
	[HoKhau] [nvarchar](250) NULL,
	[DiaChi] [nvarchar](350) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[ChucDanhId] [int] NULL,
	[KhoaId] [int] NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[NguoiTao] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_NghanhHoc_] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[HocPhan] [nvarchar](50) NULL,
	[TenHocPhan] [nvarchar](150) NULL,
	[TenVietTat] [nvarchar](50) NULL,
	[SoDVHT] [int] NULL,
	[DieuKien] [bit] NULL,
	[TuChon] [bit] NULL,
	[SoTietLyThuyet] [int] NULL,
	[SoTietThucHanh] [int] NULL,
	[NghanhHocId] [int] NULL,
 CONSTRAINT [PK_DanhGiaChuanNN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocPhi]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhi](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaHocVien] [nvarchar](20) NULL,
	[KhoaHocId] [int] NULL,
	[NganhHoc] [int] NULL,
	[TongTien] [float] NULL,
	[DaTra] [float] NULL,
	[ConLai] [float] NULL,
	[HoanThanh] [bit] NULL,
	[QuaHan] [bit] NULL,
	[DaNopKPQuaHan] [bit] NULL,
	[NgayNop] [datetime] NULL,
	[NguoiTao] [nvarchar](50) NULL,
 CONSTRAINT [PK_HocPhi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocVien]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVien](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ApplicationUserId] [nvarchar](128) NULL,
	[MaHocVien] [nvarchar](20) NULL,
	[Ho] [nvarchar](30) NULL,
	[Ten] [nvarchar](20) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[NoiSinh] [nvarchar](250) NULL,
	[HoKhau] [nvarchar](250) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[DanToc] [nvarchar](20) NULL,
	[QuocTich] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[NguoiTao] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_HocVien_] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](150) NULL,
	[TenVietTat] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[DienThoai] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhoaHoc]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaKhoa] [nvarchar](50) NULL,
	[TenKhoa] [nvarchar](150) NULL,
	[NgayKhaiGiang] [datetime] NULL,
	[SoLuongHocVien] [int] NULL,
	[TrangThai] [int] NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_ChuongTrinhBoiDuong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhoaHoc_HocVien]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHoc_HocVien](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[KhoaHocId] [bigint] NULL,
	[HocVienId] [bigint] NULL,
 CONSTRAINT [PK_KhoaHoc_HocVien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NghanhDaoTao]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NghanhDaoTao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNghanh] [nvarchar](50) NULL,
	[TenVietTat] [nvarchar](20) NULL,
	[KhoaId] [int] NULL,
 CONSTRAINT [PK_NghanhHoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NghienCuuSinh]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NghienCuuSinh](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaHV] [nvarchar](20) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](20) NULL,
	[NoiSinh] [nvarchar](150) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[CoQuan] [nvarchar](150) NULL,
	[KhoaId] [int] NULL,
	[KhoaHocId] [bigint] NULL,
	[NghanhHocId] [int] NULL,
	[MaSo] [nvarchar](20) NULL,
	[DeTai] [nvarchar](250) NULL,
	[NguoiHuongDan1] [nvarchar](50) NULL,
	[NguoiHuongDan2] [nvarchar](50) NULL,
 CONSTRAINT [PK_NghienCuuSinh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhongThi]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongThi](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaPhongThi] [nvarchar](30) NULL,
	[MaNghanh] [int] NULL,
	[ChuyenNghanh] [nvarchar](50) NULL,
	[NgoaiNgu] [nvarchar](50) NULL,
	[LoaiThiSinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhongThi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThiSinhTuyenSinh]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThiSinhTuyenSinh](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SoBaoDanh] [nvarchar](30) NULL,
	[HoTen] [nvarchar](50) NULL,
	[Ten] [nvarchar](20) NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[NgaySinh] [datetime] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[DoiTuongUuTien] [nvarchar](50) NULL,
	[NoiSinh] [nvarchar](150) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[CoQuan] [nvarchar](250) NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[NamBatDauCongTac] [nvarchar](20) NULL,
	[HienLaCanBo] [nvarchar](50) NULL,
	[ViTriConViec] [nvarchar](50) NULL,
	[ThamNiem] [nvarchar](50) NULL,
	[Truong_DaiHoc] [nvarchar](150) NULL,
	[Nghanh_DaiHoc] [nvarchar](150) NULL,
	[NamTotNghiep_DaiHoc] [nvarchar](20) NULL,
	[HeDaoTao_DaiHoc] [nvarchar](50) NULL,
	[ThoiGianDaoTaoDaiHoc] [nvarchar](50) NULL,
	[NgayTotNghiep_DaiHoc] [nvarchar](50) NULL,
	[DiemTrungBinh_DaiHoc] [nvarchar](50) NULL,
	[LoaiTotNghiep_DaiHoc] [nvarchar](50) NULL,
	[Truong_ThacSy] [nvarchar](150) NULL,
	[NghanhThacSy] [nvarchar](150) NULL,
	[NamTotNghiep_ThacSy] [nvarchar](50) NULL,
	[HeDaoTao_ThacSy] [nvarchar](50) NULL,
	[DiemTrungBinh_ThacSy] [nvarchar](50) NULL,
	[NgoaiNgu] [nvarchar](50) NULL,
	[LoaiVanBangNgoaiNgu] [nvarchar](50) NULL,
	[BoTuc] [nvarchar](250) NULL,
	[NghanhDuTuyen] [nvarchar](50) NULL,
	[ChuyenNghanhDuTuyen] [nvarchar](50) NULL,
	[DoiTuongDuTuyen] [nvarchar](50) NULL,
	[NgoaiNguDuTuyen] [nvarchar](50) NULL,
	[ThoiGianHinhThucDaoTao] [nvarchar](150) NULL,
	[LoaiThiSinh] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_TuyenSinh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](300) NULL,
	[MoTaNgan] [nvarchar](550) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[AnhDaiDien] [nvarchar](550) NULL,
	[DanhMuc] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/10/2020 9:42:17 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ApplicationUserId] [nvarchar](128) NULL,
	[Ma] [nvarchar](50) NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[HoTen] [nvarchar](500) NULL,
	[NgaySinh] [date] NULL,
	[NoiSinh] [nvarchar](250) NULL,
	[HoKhau] [nvarchar](250) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[DanToc] [nvarchar](50) NULL,
	[ChucDanhId] [int] NULL,
	[KhoaId] [int] NULL,
	[TenTruyCap] [nvarchar](150) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[QuocTich] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](50) NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_HoSoGV] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'ADMIN')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'GIANGVIEN')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'HOCVIEN')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'46711da4-6d26-48ae-8a24-3734987a17aa', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c126140d-264a-488d-bfd6-6658b202d003', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'f6c8fc03-c495-4a87-a3ff-1ff9d25cda41', N'1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [GV_Id], [PrivateKey], [GiangVien_Id], [HocVien_Id]) VALUES (N'46711da4-6d26-48ae-8a24-3734987a17aa', N'nguyenanhvinh.qn@gmail.com', 0, N'ADUEA7t+jPyg75tYznVibe8D59POAXOQ0Meq1FWDqwvk+XspU1rEOOq8F9T4O6pEKQ==', N'7e2cb2ca-8b49-46ea-b4f6-3d52105e8f86', NULL, 0, 1, NULL, 1, 0, N'0988077796', 10, N'ETXQXMUKAFSJFTDS', NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [GV_Id], [PrivateKey], [GiangVien_Id], [HocVien_Id]) VALUES (N'c126140d-264a-488d-bfd6-6658b202d003', N'vinh@gmail.com', 0, N'ADUEA7t+jPyg75tYznVibe8D59POAXOQ0Meq1FWDqwvk+XspU1rEOOq8F9T4O6pEKQ==', N'17a70917-3688-4c0c-ba51-751410ef6951', NULL, 0, 1, NULL, 1, 0, N'vinhna', 9, N'BJHBCCX3J6UTQKTG', NULL, NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [GV_Id], [PrivateKey], [GiangVien_Id], [HocVien_Id]) VALUES (N'f6c8fc03-c495-4a87-a3ff-1ff9d25cda41', N'test123@gmail.com', 0, N'ADTl01UhDNIN8sEunVYYmPn2L7Rru9ypAXIzwLZeZ57aa0tbeGwkmrE4lB0OZCkLCg==', N'ee5c0dcf-e332-4741-aa1c-e2b134070992', NULL, 0, 1, NULL, 1, 0, N'0988071111', NULL, N'23WAAFMQLU4BS22H', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ChuongTrinhDaoTao] ON 

INSERT [dbo].[ChuongTrinhDaoTao] ([Id], [NghanhHoc], [TenVietTat], [ThuocNhomNghanh]) VALUES (2, N'CNTT', N'Công nghệ thông tin', NULL)
INSERT [dbo].[ChuongTrinhDaoTao] ([Id], [NghanhHoc], [TenVietTat], [ThuocNhomNghanh]) VALUES (3, N'ATTT', N'An toàn thông tin', NULL)
INSERT [dbo].[ChuongTrinhDaoTao] ([Id], [NghanhHoc], [TenVietTat], [ThuocNhomNghanh]) VALUES (4, N'MAR', N'Marketing', NULL)
SET IDENTITY_INSERT [dbo].[ChuongTrinhDaoTao] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 05/10/2020 9:42:17 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 05/10/2020 9:42:17 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 05/10/2020 9:42:17 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 05/10/2020 9:42:17 SA ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 05/10/2020 9:42:17 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 05/10/2020 9:42:17 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'THS: Thạc sỹ, TS: Tiến sỹ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DiemTuyenSinh', @level2type=N'COLUMN',@level2name=N'Diem'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'bắt buộc hay không' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HocPhan', @level2type=N'COLUMN',@level2name=N'DieuKien'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: chưa bắt đầu, 1: đang học, 2: đã kết thúc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KhoaHoc', @level2type=N'COLUMN',@level2name=N'TrangThai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'THS: Thạc sỹ, TS: Tiến sỹ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PhongThi', @level2type=N'COLUMN',@level2name=N'LoaiThiSinh'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'THS: Thạc sỹ, TS: Tiến sỹ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ThiSinhTuyenSinh', @level2type=N'COLUMN',@level2name=N'LoaiThiSinh'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã học viên, giảng viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Ma'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: HocVien, 2: Giảng viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Type'
GO
USE [master]
GO
